body, div, p {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0 12%;
  background-color: #ffffff;
  font-family: "Georgia", "Times New Roman", "Times", serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.centering-flex-box {
  display: flex;
  height: 100%;
  width: 600px;
  margin: auto;
  flex-wrap: wrap;
  flex-flow: flex-direction;
  justify-content: center;
  align-items: center;
}

.container-quote{
  margin-top: -100px;
  text-align: left;
}

/*.container-author{
  margin-top: -70px;
}*/

#quote {
  display: block;
  line-height: 1.4em;
  font-weight: 300;
  font-size: 2.5em;
  color: black;
  -webkit-transition: all 1.6s;
  transition: all 1.6s;
}

#author {
  margin-top: 40px;
  padding-left: 10px;
  display: block;
  letter-spacing: 1.5px;
  font-weight: 300;
  font-size: 1.8em;
  color: black;
  border-left: solid 3px white;
  text-transform: uppercase;
  -webkit-transition: all 1.6s;
 transition: all 1.6s;
}

#author.move {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 20px rgba(0,0,0,0.3);
  -webkit-transform: translate(0, 40px);
  transform: translate(0, 40px);
}



#link {
  display: block;
  visibility: hidden;
  font-size: 0.75em;
  color: white;
  position: absolute;
  bottom: 20px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}
